@import url("https://fonts.googleapis.com/css2?family=League+Spartan:wght@400;500;700&display=swap");
*:where(:not(html, iframe, canvas, img, svg, video):not(svg *, symbol *)) {
  all: unset;
  display: revert;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

a,
button {
  cursor: revert;
}

ol,
ul,
menu {
  list-style: none;
}

img {
  max-width: 100%;
}

table {
  border-collapse: collapse;
}

input,
textarea {
  -webkit-user-select: auto;
  user-select: auto;
}

textarea {
  white-space: revert;
}

meter {
  -webkit-appearance: revert;
  appearance: revert;
}

::placeholder {
  color: unset;
}

:where([hidden]) {
  display: none;
}

:where([contenteditable]:not([contenteditable=false])) {
  -moz-user-modify: read-write;
  -webkit-user-modify: read-write;
  overflow-wrap: break-word;
  -webkit-line-break: after-white-space;
  line-break: after-white-space;
  -webkit-user-select: auto;
  user-select: auto;
}

:where([draggable=true]) {
  -webkit-user-drag: element;
}

:root {
  font-size: 62.5%;
  --color-dark-magenta: hsl(300, 43%, 22%);
  --color-soft-pink: hsl(333, 80%, 67%);
  --color-dark-grey-magenta: hsl(303, 10%, 53%);
  --color-light-grey-magenta: hsl(300, 24%, 96%);
  --color-white: hsl(0, 0%, 100%);
  --font-default: "League Spartan", sans-serif;
  --font-size-default: 1.5rem;
  --font-weight-normal: 400;
  --font-weight-normal-plus: 500;
  --font-weight-bold: 700;
}

body {
  font-family: var(--font-default);
  font-size: var(--font-size-default);
  display: grid;
  place-items: center;
  min-height: 100vh;
  background: url(../images/bg-pattern-top-mobile.svg) left top no-repeat, url(../images/bg-pattern-bottom-mobile.svg) right bottom no-repeat;
  position: relative;
}
@media only screen and (min-width: 64em) {
  body {
    background: url(../images/bg-pattern-top-desktop.svg) left top no-repeat, url(../images/bg-pattern-bottom-desktop.svg) right bottom no-repeat;
  }
}

footer {
  position: absolute;
  top: 5px;
}
footer a {
  color: #1DA1F2;
  font-weight: var(--font-weight-bold);
}
footer a:hover {
  text-decoration: underline;
}

.testimonials {
  display: grid;
  grid-template-areas: "head" "cards";
  gap: clamp(4.9rem, 3.6288135593rem + 3.3898305085vw, 7.1rem);
  max-width: clamp(32.7rem, -12.5426810478rem + 120.6471494607vw, 111rem);
  padding: 8.2rem 2.4rem;
}
.testimonials__head {
  width: 100%;
  display: grid;
  grid-template-areas: "text" "ratings";
  gap: clamp(3.9rem, -1.069183359rem + 13.251155624vw, 12.5rem);
}
@media only screen and (min-width: 64em) {
  .testimonials__head {
    grid-template-areas: "text ratings";
    grid-template-columns: repeat(2, 1fr);
  }
}
.testimonials__head-text {
  grid-area: text;
  text-align: center;
}
@media only screen and (min-width: 64em) {
  .testimonials__head-text {
    text-align: left;
    width: 44.5rem;
  }
}
.testimonials__head-text-header {
  font-weight: var(--font-weight-bold);
  line-height: clamp(3.2rem, 2.2755007704rem + 2.4653312789vw, 4.8rem);
  font-size: clamp(4rem, 3.0755007704rem + 2.4653312789vw, 5.6rem);
  color: var(--color-dark-magenta);
  padding-bottom: 1.6rem;
}
.testimonials__head-text-description {
  font-weight: var(--font-weight-normal-plus);
  line-height: 2.5rem;
  font-size: 1.9rem;
  color: var(--color-dark-grey-magenta);
}
.testimonials__ratings {
  grid-area: ratings;
  display: grid;
  grid-template-areas: "card1" "card2" "card3";
  gap: 1.6rem;
  border-radius: 0.8rem;
}
@media only screen and (min-width: 75em) {
  .testimonials__ratings {
    width: 54rem;
  }
}
.testimonials__ratings-card {
  background-color: var(--color-light-grey-magenta);
  padding: clamp(1.6rem, 1.3688751926rem + 0.6163328197vw, 2rem);
  display: grid;
  grid-template-areas: "stars" "text";
  gap: clamp(1.5rem, 0.5177195686rem + 2.6194144838vw, 3.2rem);
  justify-content: center;
  justify-items: center;
  border-radius: 0.8rem;
  width: 100%;
}
@media only screen and (min-width: 64em) {
  .testimonials__ratings-card {
    grid-template-areas: "stars text";
    justify-content: start;
    align-content: center;
    padding-inline: 3.2rem;
    width: 44.5rem;
  }
}
.testimonials__ratings-card-1 {
  grid-area: card1;
  justify-self: start;
}
.testimonials__ratings-card-2 {
  grid-area: card2;
  justify-self: center;
}
.testimonials__ratings-card-3 {
  grid-area: card3;
  justify-self: end;
}
.testimonials__ratings-text {
  font-size: 1.7rem;
  font-weight: var(--font-weight-bold);
  color: var(--color-dark-magenta);
}
.testimonials__cards {
  display: grid;
  grid-template-areas: "card1" "card2" "card3";
  gap: clamp(1.6rem, 0.7910631741rem + 2.157164869vw, 3rem);
}
@media only screen and (min-width: 64em) {
  .testimonials__cards {
    grid-template-areas: "card1 card2 card3";
    height: 26.6rem;
  }
}
.testimonials__cards-card {
  background-color: var(--color-dark-magenta);
  padding: 4rem 3.2rem 3.5rem 3.2rem;
  border-radius: 0.8rem;
  width: 100%;
}
@media only screen and (min-width: 64em) {
  .testimonials__cards-card {
    width: 35rem;
    height: 23.4rem;
  }
}
.testimonials__cards-card-1 {
  grid-area: card1;
  align-self: start;
}
.testimonials__cards-card-2 {
  grid-area: card2;
  align-self: center;
}
.testimonials__cards-card-3 {
  grid-area: card3;
  align-self: end;
}
.testimonials__cards-individual {
  display: grid;
  grid-template-areas: "avatar name" "avatar status";
  grid-template-columns: repeat(2, max-content);
  grid-template-rows: repeat(2, 2rem);
  margin-bottom: clamp(2.4rem, 1.9377503852rem + 1.2326656394vw, 3.2rem);
}
.testimonials__cards-avatar {
  grid-area: avatar;
  border-radius: 100%;
  margin-right: 2.3rem;
  width: 40px;
  align-self: center;
}
.testimonials__cards-name {
  grid-area: name;
  font-size: 1.7rem;
  font-weight: var(--font-weight-bold);
  color: var(--color-white);
  align-self: end;
}
.testimonials__cards-status {
  grid-area: status;
  font-size: 1.7rem;
  font-weight: var(--font-weight-normal);
  color: var(--color-soft-pink);
  align-self: start;
}
.testimonials__cards-quote {
  font-size: 1.7rem;
  line-height: 2.2rem;
  font-weight: var(--font-weight-normal-plus);
  color: var(--color-white);
}/*# sourceMappingURL=main.css.map */